.btn {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 15px;
  background-color: rgb(253, 4, 4);
  border: none;
  text-align: center;
}

.btn-primary {
  background-color: rgb(0, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  color: white;
}

.btn-secondary {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.btn:last-child {
  margin-right: 0;
}